In [18]:
import pandas as pd

In [19]:
cilantro=pd.read_csv('Cilantro.csv')

In [20]:
cilantro.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Offerings,Market Tone,Price Comment,Comments
0,CILANTRO,ATLANTA,NaN,cartons bunched,NaN,NaN,NaN,05/16/2023,16.0,17.0,...,NaN,NaN,NaN,NaN,N,NaN,VERY LIGHT.,NaN,NaN,NaN
1,CILANTRO,ATLANTA,NaN,cartons bunched,NaN,NaN,NaN,05/16/2023,23.0,26.0,...,NaN,NaN,NaN,NaN,N,NaN,VERY LIGHT.,NaN,occas lower,NaN
2,CILANTRO,ATLANTA,NaN,cartons bunched,NaN,NaN,NaN,05/16/2023,16.0,17.0,...,NaN,NaN,NaN,NaN,N,NaN,VERY LIGHT.,NaN,few 21.00,NaN
3,CILANTRO,BALTIMORE,NaN,crates bunched,NaN,NaN,NaN,05/16/2023,17.0,19.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,"CA 30S AND 60S SLIGHTLY LOWER, OTHERS STEADY.",NaN,NaN
4,CILANTRO,BALTIMORE,NaN,containers approx 18 lbs,NaN,NaN,NaN,05/16/2023,18.0,19.0,...,NaN,NaN,NaN,NaN,N,NaN,NaN,"CA 30S AND 60S SLIGHTLY LOWER, OTHERS STEADY.",NaN,NaN

In [21]:
df=pd.read_csv('Cilantro.csv')
df.columns

Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety',
       'Sub Variety', 'Grade', 'Date', 'Low Price', 'High Price', 'Mostly Low',
       'Mostly High', 'Origin', 'Origin District', 'Item Size', 'Color',
       'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance',
       'Storage', 'Crop', 'Repack', 'Trans Mode', 'Offerings', 'Market Tone',
       'Price Comment', 'Comments'],
      dtype='object')

In [22]:
df=pd.read_csv('Cilantro.csv') 
columns_to_drop = ['Sub Variety', 'Grade', 'Mostly Low','Mostly High','Origin','Origin District', 'Item Size', 'Color',
        'Environment', 'Unit of Sale', 'Quality', 'Condition', 'Appearance',
        'Storage', 'Crop', 'Repack', 'Trans Mode', 'Offerings', 'Market Tone','Price Comment', 'Comments']
df = df.drop(columns=columns_to_drop) # DROP UNWANTED COLUMNS
df = df.dropna(subset=['Package']) # DROP ROWS WITH NULL VALUES IN PACKAGE COLUMN

df['Average Price'] = (df['Low Price'] + df['High Price']) / 2 # FIND THE AVERAGE PRICE USING HIGH AND LOW PRICE
df['Type'] = df['Type'].fillna('Inorganic') #FILL NULL ROWS IN TYPE WITH INORGANIC 
df['Variety'] = df['Variety'].fillna('WITHOUT ROOT') #FILL NULL ROWS IN VARIETY WITH WITHOUT ROOT
df = df.dropna(subset=['Average Price']) # DROP ROWS WITH NULL VALUES IN AVERAGE PRICE 
df

,Commodity Name,City Name,Type,Package,Variety,Date,Low Price,High Price,Average Price
0,CILANTRO,ATLANTA,Inorganic,cartons bunched,WITHOUT ROOT,05/16/2023,16.0,17.0,16.5
1,CILANTRO,ATLANTA,Inorganic,cartons bunched,WITHOUT ROOT,05/16/2023,23.0,26.0,24.5
2,CILANTRO,ATLANTA,Inorganic,cartons bunched,WITHOUT ROOT,05/16/2023,16.0,17.0,16.5
3,CILANTRO,BALTIMORE,Inorganic,crates bunched,WITHOUT ROOT,05/16/2023,17.0,19.0,18.0
4,CILANTRO,BALTIMORE,Inorganic,containers approx 18 lbs,WITHOUT ROOT,05/16/2023,18.0,19.0,18.5
...,...,...,...,...,...,...,...,...,...
9596,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,33.0,33.0,33.0
9597,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,25.0,28.0,26.5
9598,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,26.0,30.0,28.0
9599,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,36.0,36.0,36.0
9600,CILANTRO,SAN FRANCISCO,Organic,cartons bunched,WITHOUT ROOT,10/10/2023,30.5,30.5,30.5

In [23]:
distinct_values = df['Package'].unique()

# Display the distinct values
distinct_values

array(['cartons bunched', 'crates bunched', 'containers approx 18 lbs',
       'cartons', '1 1/9 bushel crates bunched', '1 kg cartons bunched',
       '4/5 bushel crates bunched', 'cartons loose',
       'bushel crates bunched', '1/2 bruce crates bunched'], dtype=object)

In [24]:
# NORMALIZE THE PACKAGE COLUMN BY CONVERTING ALL OF THE ROWS TO LB SCALE , CREATE A NEW COLUMN TO STORE THE  VALUES IN LB SCALE 

# Define a mapping dictionary for normalization
package_mapping = {
    'cartons bunched': 20,
    'crates bunched': 20,  
    'containers approx 18 lbs': 18,
    'cartons': 20,
    '1 1/9 bushel crates bunched':1.0 / 9 * 32.57,  # Assuming 1 bushel is 32.57 lbs
    '1 kg cartons bunched': 20 * 2.20462,  # Convert kg to lb
    '4/5 bushel crates bunched': 4/5 * 32.57,  # Assuming 1 bushel is 40 lbs
    'cartons loose': 20,
    'bushel crates bunched': 32.57,  # Assuming 1 bushel is 40 lbs
    '1/2 bruce crates bunched': 1/2 * 32.57,  # Assuming 1 bushel is 40 lbs
}

# Map the values in the 'Package' column to numeric values
df['Package Size in pound'] = df['Package'].map(package_mapping)

# Display the preprocessed data
df

,Commodity Name,City Name,Type,Package,Variety,Date,Low Price,High Price,Average Price,Package Size in pound
0,CILANTRO,ATLANTA,Inorganic,cartons bunched,WITHOUT ROOT,05/16/2023,16.0,17.0,16.5,20.0
1,CILANTRO,ATLANTA,Inorganic,cartons bunched,WITHOUT ROOT,05/16/2023,23.0,26.0,24.5,20.0
2,CILANTRO,ATLANTA,Inorganic,cartons bunched,WITHOUT ROOT,05/16/2023,16.0,17.0,16.5,20.0
3,CILANTRO,BALTIMORE,Inorganic,crates bunched,WITHOUT ROOT,05/16/2023,17.0,19.0,18.0,20.0
4,CILANTRO,BALTIMORE,Inorganic,containers approx 18 lbs,WITHOUT ROOT,05/16/2023,18.0,19.0,18.5,18.0
...,...,...,...,...,...,...,...,...,...,...
9596,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,33.0,33.0,33.0,20.0
9597,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,25.0,28.0,26.5,20.0
9598,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,26.0,30.0,28.0,20.0
9599,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,36.0,36.0,36.0,20.0
9600,CILANTRO,SAN FRANCISCO,Organic,cartons bunched,WITHOUT ROOT,10/10/2023,30.5,30.5,30.5,20.0

In [25]:
df.count()

Commodity Name           9248
City Name                9248
Type                     9248
Package                  9248
Variety                  9248
Date                     9248
Low Price                9248
High Price               9248
Average Price            9248
Package Size in pound    9248
dtype: int64

In [26]:
df['Price per Pound'] = df['Average Price'] / df['Package Size in pound']

In [27]:
df

,Commodity Name,City Name,Type,Package,Variety,Date,Low Price,High Price,Average Price,Package Size in pound,Price per Pound
0,CILANTRO,ATLANTA,Inorganic,cartons bunched,WITHOUT ROOT,05/16/2023,16.0,17.0,16.5,20.0,0.825000
1,CILANTRO,ATLANTA,Inorganic,cartons bunched,WITHOUT ROOT,05/16/2023,23.0,26.0,24.5,20.0,1.225000
2,CILANTRO,ATLANTA,Inorganic,cartons bunched,WITHOUT ROOT,05/16/2023,16.0,17.0,16.5,20.0,0.825000
3,CILANTRO,BALTIMORE,Inorganic,crates bunched,WITHOUT ROOT,05/16/2023,17.0,19.0,18.0,20.0,0.900000
4,CILANTRO,BALTIMORE,Inorganic,containers approx 18 lbs,WITHOUT ROOT,05/16/2023,18.0,19.0,18.5,18.0,1.027778
...,...,...,...,...,...,...,...,...,...,...,...
9596,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,33.0,33.0,33.0,20.0,1.650000
9597,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,25.0,28.0,26.5,20.0,1.325000
9598,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,26.0,30.0,28.0,20.0,1.400000
9599,CILANTRO,SAN FRANCISCO,Inorganic,cartons bunched,WITHOUT ROOT,10/10/2023,36.0,36.0,36.0,20.0,1.800000
9600,CILANTRO,SAN FRANCISCO,Organic,cartons bunched,WITHOUT ROOT,10/10/2023,30.5,30.5,30.5,20.0,1.525000

In [28]:
# - TO BE CHECK WITH THE TEAM - 
# ITEM SIZE(SHOULD IT BE REMOVED OR NORMALISED)

In [29]:
distinct_values = df['City Name'].unique()

# Display the distinct values
distinct_values

array(['ATLANTA', 'BALTIMORE', 'BOSTON', 'CHICAGO', 'COLUMBIA', 'DETROIT',
       'LOS ANGELES', 'MIAMI', 'NEW YORK', 'PHILADELPHIA',
       'SAN FRANCISCO'], dtype=object)