In [92]:
import pandas as pd
import numpy as np

In [93]:
df = pd.read_csv('Lemons.csv', low_memory=False)

In [94]:
df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Offerings,Market Tone,Price Comment,Comments
0,LEMONS,ATLANTA,NaN,17 kg cartons,NaN,NaN,No Grade Marked,09/05/2023,32.50,33.50,...,NaN,NaN,NaN,NaN,N,NaN,NaN,ABOUT STEADY.,few 31.00,NaN
1,LEMONS,ATLANTA,NaN,17 kg cartons,NaN,NaN,No Grade Marked,09/05/2023,33.75,33.75,...,NaN,NaN,NaN,NaN,N,NaN,NaN,ABOUT STEADY.,NaN,NaN
2,LEMONS,ATLANTA,NaN,17 kg cartons,NaN,NaN,No Grade Marked,09/05/2023,33.75,35.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,ABOUT STEADY.,NaN,NaN
3,LEMONS,ATLANTA,NaN,7/10 bushel cartons,NaN,NaN,Shprs 1st Grade,09/05/2023,46.00,49.50,...,NaN,NaN,NaN,NaN,N,NaN,NaN,ABOUT STEADY.,few 41.00-42.00,NaN
4,LEMONS,ATLANTA,NaN,7/10 bushel cartons,NaN,NaN,Shprs 1st Grade,09/05/2023,46.00,47.00,...,NaN,NaN,NaN,NaN,N,NaN,NaN,ABOUT STEADY.,few 48.50-49.50,NaN

In [95]:
columns_to_drop = ['Origin','Mostly Low','Mostly High','Variety','Sub Variety','Grade','Condition', 'Appearance', 'Storage','Crop', 'Repack', 'Trans Mode', 'Offerings', 'Market Tone', 'Price Comment', 'Comments','Origin District','Color','Environment','Unit of Sale','Quality','Item Size']
df = df.drop(columns=columns_to_drop, errors='ignore') # DROP UNWANTED COLUMNS
df = df.dropna(subset=['Package']) # DROP ROWS WITH NULL VALUES IN PACKAGE COLUMN

In [96]:
df

,Commodity Name,City Name,Type,Package,Date,Low Price,High Price
0,LEMONS,ATLANTA,NaN,17 kg cartons,09/05/2023,32.50,33.50
1,LEMONS,ATLANTA,NaN,17 kg cartons,09/05/2023,33.75,33.75
2,LEMONS,ATLANTA,NaN,17 kg cartons,09/05/2023,33.75,35.00
3,LEMONS,ATLANTA,NaN,7/10 bushel cartons,09/05/2023,46.00,49.50
4,LEMONS,ATLANTA,NaN,7/10 bushel cartons,09/05/2023,46.00,47.00
...,...,...,...,...,...,...,...
35146,LEMONS,SAN FRANCISCO,Organic,7/10 bushel cartons,03/21/2023,27.00,28.00
35147,LEMONS,SAN FRANCISCO,NaN,7/10 bushel cartons,03/21/2023,NaN,NaN
35148,LEMONS,SAN FRANCISCO,Organic,cartons 18 2-lb film bags,03/21/2023,37.00,38.00
35149,LEMONS,"TORONTO, ONT",NaN,cartons,03/21/2023,27.80,46.87
35150,LEMONS,"TORONTO, ONT",NaN,cartons,03/21/2023,35.12,38.38

In [97]:
df['Average Price'] = (df['Low Price'] + df['High Price']) / 2 # FIND THE AVERAGE PRICE USING HIGH AND LOW PRICE
df['Type'] = df['Type'].fillna('Inorganic') #FILL NULL ROWS IN TYPE WITH INORGANIC 
df = df.dropna(subset=['Average Price']) # DROP ROWS WITH NULL VALUES IN AVERAGE PRICE 
df

,Commodity Name,City Name,Type,Package,Date,Low Price,High Price,Average Price
0,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,32.50,33.50,33.000
1,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,33.75,33.75,33.750
2,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,33.75,35.00,34.375
3,LEMONS,ATLANTA,Inorganic,7/10 bushel cartons,09/05/2023,46.00,49.50,47.750
4,LEMONS,ATLANTA,Inorganic,7/10 bushel cartons,09/05/2023,46.00,47.00,46.500
...,...,...,...,...,...,...,...,...
35145,LEMONS,SAN FRANCISCO,Inorganic,7/10 bushel cartons,03/21/2023,26.00,26.00,26.000
35146,LEMONS,SAN FRANCISCO,Organic,7/10 bushel cartons,03/21/2023,27.00,28.00,27.500
35148,LEMONS,SAN FRANCISCO,Organic,cartons 18 2-lb film bags,03/21/2023,37.00,38.00,37.500
35149,LEMONS,"TORONTO, ONT",Inorganic,cartons,03/21/2023,27.80,46.87,37.335
35150,LEMONS,"TORONTO, ONT",Inorganic,cartons,03/21/2023,35.12,38.38,36.750

In [98]:
distinct_values = df['Package'].unique()

# Display the distinct values
distinct_values

array(['17 kg cartons', '7/10 bushel cartons',
       'cartons 18 2-lb film bags', 'cartons', '15 kg containers',
       '15 kg cartons', '18 kg containers', '4/5 bushel cartons',
       'cartons 12 3-lb sacks', '10 kg containers', '11-12 kg containers'],
      dtype=object)

In [99]:
df

,Commodity Name,City Name,Type,Package,Date,Low Price,High Price,Average Price
0,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,32.50,33.50,33.000
1,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,33.75,33.75,33.750
2,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,33.75,35.00,34.375
3,LEMONS,ATLANTA,Inorganic,7/10 bushel cartons,09/05/2023,46.00,49.50,47.750
4,LEMONS,ATLANTA,Inorganic,7/10 bushel cartons,09/05/2023,46.00,47.00,46.500
...,...,...,...,...,...,...,...,...
35145,LEMONS,SAN FRANCISCO,Inorganic,7/10 bushel cartons,03/21/2023,26.00,26.00,26.000
35146,LEMONS,SAN FRANCISCO,Organic,7/10 bushel cartons,03/21/2023,27.00,28.00,27.500
35148,LEMONS,SAN FRANCISCO,Organic,cartons 18 2-lb film bags,03/21/2023,37.00,38.00,37.500
35149,LEMONS,"TORONTO, ONT",Inorganic,cartons,03/21/2023,27.80,46.87,37.335
35150,LEMONS,"TORONTO, ONT",Inorganic,cartons,03/21/2023,35.12,38.38,36.750

In [102]:

df = df.copy()

# Define the package mapping
package_mapping = {
    '17 kg cartons': 17 * 2.20462,  # Convert kg to lb
    '7/10 bushel cartons': (7/10) * 2.20462,  # Convert bushel to lb
    'cartons 18 2-lb film bags': 18 * 2.20462,  # Convert kg to lb
    'cartons': 38,  # Set the weight of 1 carton in pounds
    '15 kg containers': 15 * 2.20462,  # Convert kg to lb
    '15 kg cartons': 15 * 2.20462,  # Convert kg to lb
    '18 kg containers': 18 * 2.20462,  # Convert kg to lb
    '4/5 bushel cartons': (4/5) * 2.20462,  # Convert bushel to lb
    'cartons 12 3-lb sacks': 12 * 2.20462,  # Convert lb to lb (no conversion needed)
    '10 kg containers': 10 * 2.20462,  # Convert kg to lb
    '11-12 kg containers': 11 * 2.20462,  # Convert kg to lb (assuming 11 kg)
}

# Map the values in the 'Package' column to numeric values
df['Package Size in pound'] = df['Package'].map(package_mapping)

# Display the preprocessed data
df

,Commodity Name,City Name,Type,Package,Date,Low Price,High Price,Average Price,Package Size in pound
0,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,32.50,33.50,33.000,37.478540
1,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,33.75,33.75,33.750,37.478540
2,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,33.75,35.00,34.375,37.478540
3,LEMONS,ATLANTA,Inorganic,7/10 bushel cartons,09/05/2023,46.00,49.50,47.750,1.543234
4,LEMONS,ATLANTA,Inorganic,7/10 bushel cartons,09/05/2023,46.00,47.00,46.500,1.543234
...,...,...,...,...,...,...,...,...,...
35145,LEMONS,SAN FRANCISCO,Inorganic,7/10 bushel cartons,03/21/2023,26.00,26.00,26.000,1.543234
35146,LEMONS,SAN FRANCISCO,Organic,7/10 bushel cartons,03/21/2023,27.00,28.00,27.500,1.543234
35148,LEMONS,SAN FRANCISCO,Organic,cartons 18 2-lb film bags,03/21/2023,37.00,38.00,37.500,39.683160
35149,LEMONS,"TORONTO, ONT",Inorganic,cartons,03/21/2023,27.80,46.87,37.335,38.000000
35150,LEMONS,"TORONTO, ONT",Inorganic,cartons,03/21/2023,35.12,38.38,36.750,38.000000

In [104]:
df.count()

Commodity Name           33338
City Name                33338
Type                     33338
Package                  33338
Date                     33338
Low Price                33338
High Price               33338
Average Price            33338
Package Size in pound    33338
dtype: int64

In [107]:
# Calculate 'Price per Pound' and assign it to the DataFrame
df = df.assign(**{'Price per Pound': df['Average Price'] / df['Package Size in pound']})

In [108]:
df

,Commodity Name,City Name,Type,Package,Date,Low Price,High Price,Average Price,Package Size in pound,Price per Pound
0,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,32.50,33.50,33.000,37.478540,0.880504
1,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,33.75,33.75,33.750,37.478540,0.900515
2,LEMONS,ATLANTA,Inorganic,17 kg cartons,09/05/2023,33.75,35.00,34.375,37.478540,0.917192
3,LEMONS,ATLANTA,Inorganic,7/10 bushel cartons,09/05/2023,46.00,49.50,47.750,1.543234,30.941516
4,LEMONS,ATLANTA,Inorganic,7/10 bushel cartons,09/05/2023,46.00,47.00,46.500,1.543234,30.131529
...,...,...,...,...,...,...,...,...,...,...
35145,LEMONS,SAN FRANCISCO,Inorganic,7/10 bushel cartons,03/21/2023,26.00,26.00,26.000,1.543234,16.847737
35146,LEMONS,SAN FRANCISCO,Organic,7/10 bushel cartons,03/21/2023,27.00,28.00,27.500,1.543234,17.819721
35148,LEMONS,SAN FRANCISCO,Organic,cartons 18 2-lb film bags,03/21/2023,37.00,38.00,37.500,39.683160,0.944985
35149,LEMONS,"TORONTO, ONT",Inorganic,cartons,03/21/2023,27.80,46.87,37.335,38.000000,0.982500
35150,LEMONS,"TORONTO, ONT",Inorganic,cartons,03/21/2023,35.12,38.38,36.750,38.000000,0.967105